@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    word-break: keep-all;
    outline: 0px solid silver;
    font-family: 'Noto Sans KR', sans-serif;
}

@font-face {
  font-family: 'Cormorant';
  src: url('https://fonts.gstatic.com/s/cormorant/v17/H4cgBXOCl9bbnla_nHIq6pY.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'maruBuri';
  src: url('/MaruBuri-Light.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
    color: black;
    overflow-x: hidden;
}

li {
    cursor: pointer;
    transition: 0.5s;
    font-size: 0.9rem;
}

p {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    border: none;
}

textarea {
    resize: none;
}

input {
    border: 0px;
    background-color: transparent;
}

img {
    display: block;
    margin: auto 0;
}

button {
    border: 0px solid;
    background: transparent;
    transition: 0.3s;
}

.display-flex {
    display: flex;
    justify-content: space-between;
}

.display-flex-flow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pc {
    display: none;
}

.slick-arrow {
    display: none;
    opacity: 0;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    background: white;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    padding-bottom: 40px;
}

.popup>div {
    background: #784315;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.popup>div>div {
    padding: 10px 20px;
    color: white;
}

.popup>div>div button img {
    filter: brightness(0) invert(1);
    cursor: pointer;
}

.popup>section {
    margin-top: 35px;
    padding: 0 20px;
    height: 320px;
    max-height: 600px;
    overflow-y: auto;
}

.popup>section ul {
    text-align: left;
    color: black;
    padding: 0;
    margin-bottom: 30px;
}

.popup>section ul li:first-of-type {
    font-weight: bold;
    margin-bottom: 20px;
}

.black-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 10;
}

.open-pop {
    display: block;
}

.more-button>a {
    display: flex;
    gap: 20;
    color: #000;
}

.more-button>a>p {
    margin: auto 0
}

.more-button>a>div {
    position: relative;
}

.more-button>a>div> :last-child {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 100%;
}

.more-button>a>div>div>img {
    position: absolute;
    width: 25px;
    height: auto;
    top: 50%;
    left: 5px;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.more-button>a>div>div>img:hover {
    left: 50%;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
}

header>div {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    padding: 20px 8%;
}

header>div>:last-child {
    cursor: pointer;
}

.home-header {
    color: white;
}

.inner-header {
    color: black;
    background: white;
    border-bottom: 1px solid #ccc;
}

nav {
    position: absolute;
    background: white;
    top: 0;
    width: 200px;
    height: 100vh;
    transition: 0.3s;
    z-index: 15;
    padding: 25px 30px
}

nav.nav-open {
    right: 0;
}

nav img,
nav>:last-child {
    cursor: pointer;
}

.nav-close {
    top: 0;
    right: -250px;
}

nav>:first-child img {
    margin: auto 10px 0 auto;
}

nav>ul {
    margin-top: 45px;
}

nav>ul li {
    text-align: center;
}

nav>ul li a {
    display: block;
    color: #000;
    padding: 15px;
    width: 100%
}

nav>ul li a:hover {
    color: #7D4717;
}

.page-layout>:first-child {
    position: relative;
    width: 100%;
    height: 108px;
    margin-top: 70px;
}

.page-layout>:first-child h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.page-layout>:first-child img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.page-layout>:last-child {
    position: relative;
    padding: 60px 8%;
    max-width: 1280px;
    margin: 0 auto;
}

.page-layout>:last-child>:first-child h1 {
    text-align: center;
}

.page-layout>:last-child>:first-child p {
    text-align: center;
    margin: 20px 0 50px;
}

.inquire-form>h2 {
    text-align: center;
    margin-bottom: 30px;
}

.inquire-form>* {
    margin: 15px 0;
}

.inquire-form label,
.inquire-form legend {
    font-size: bold;
    text-align: center;
    width: 30%;
    margin: auto 0;
}

.inquire-form input,
.inquire-form select {
    background: white;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc;
    width: 70%;
}

.inquire-form>:nth-child(3)>div {
    width: 70%;
}

.inquire-form>:nth-child(3)>div>button {
    width: 48%;
    padding: 8px 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.inquire-form>:nth-child(3)>div>button.selected {
    background: #7D4717;
    color: white;
    border: 1px solid #7D4717
}

.inquire-form fieldset {
    border: 0;
}

.inquire-form fieldset>div {
    height: 43px;
}

.inquire-form fieldset>div>:first-child {
    width: 30%;
    margin: auto 0;
}

.inquire-form fieldset>div>:first-child legend {
    width: 100%;
}

.inquire-form fieldset>div>:last-child {
    width: 70%;
}

.inquire-form fieldset>div>:last-child p {
    font-weight: bold;
    padding: 0 10px;
    margin: auto 0 !important;
}

.inquire-form>:nth-last-child(2) {
    justify-content: left;
    margin-top: 30px;
    gap: 20;
}

.inquire-form>:nth-last-child(2) input {
    display: none;
}

.inquire-form>:nth-last-child(2) input+label {
    display: inline-block;
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid #ccc;
    margin: auto 0;
    position: relative;
    cursor: pointer;
}

.inquire-form input[type="checkbox"]:checked+label {
    background: #784315;
}

.inquire-form input[type="checkbox"]:checked+label::after {
    content: "✔";
    position: absolute;
    bottom: -2px;
    left: 1px;
    color: white;
}

.inquire-form>:nth-last-child(2) p {
    margin: 0 !important;
}

.inquire-form>:nth-last-child(2) p span {
    margin-left: 10px;
    border-bottom: 1px solid #000;
}

.inquire-form>:last-child {
    text-align: center;
}

.inquire-form>:last-child button {
    width: 70%;
    border-radius: 40px;
    background: #BEA38B;
    font-weight: bold;
    padding: 10px 30px;
    margin-top: 30px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}


footer {
    background: #EFE3CF;
}

footer ul {
    text-align: center;
    color: #50422B;
    padding: 20px 0 30px;
}

footer>ul>li a {
    color: #50422B;
}

footer>ul,
footer>:nth-child(3) {
    max-width: 1280px;
    margin: 0 auto;
}

footer>:first-child {
    font-weight: bold;
}

footer ul li {
    width: 100%;
    margin: 5px 0;
}

footer>:nth-child(3) ul:first-of-type {
    justify-content: center;
}

footer>:nth-child(3) ul:first-of-type li:first-of-type,
footer>:nth-child(3) ul:first-of-type li:nth-of-type(2) {
    width: 33%;
}

footer>:nth-child(3) ul:last-of-type {
    padding: 20px 0 70px;
}

footer>:nth-child(3) ul:last-of-type li span {
    font-weight: bold;
}

footer>:nth-child(3) ul:last-of-type li img {
    margin: auto;
    margin-top: 30px;
}

footer> :nth-child(2) {
    width: 100%;
    height: 1px;
    background: #C6B69D;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.footer-fixed> :first-child {
    position: absolute;
    right: 8%;
    bottom: 90px;
}

.footer-fixed> :first-child button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.footer-fixed> :first-child button img {
    margin: 0 auto;
    cursor: pointer;
}

.footer-fixed> :first-child button:first-of-type {
    background: #F2DA00;
    margin-bottom: 15px;
}

.footer-fixed> :first-child button:first-of-type a {
    color: #221103;
}

@keyframes flicker {

    0%,
    100% {
        background: #7D4717;
    }

    50% {
        background: #58402a;
    }
}

.footer-fixed> :first-child button:last-of-type {
    background: #7D4717;
}

.footer-fixed>:last-child>:first-child>button {
    width: 100%;
    padding: 20px;
    justify-content: center;
    gap: 10;
    background: #7D4717;
}

.footer-fixed>:last-child>:first-child>button:first-of-type {
    background: #F2DA00;
}

.footer-fixed>:last-child>:first-child>button:last-of-type {
    animation: flicker 1.5s infinite;
}

.footer-fixed>:last-child>:first-child>button:first-of-type a {
    color: #221103;
}

@media screen and (min-width: 1366px) {

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.8rem;
    }


    .pc {
        display: block;
    }

    .mo {
        display: none;
    }

    li, p {
        font-size: 1rem;
    }

    .inner-header nav ul li a {
        color: #000;
    }

    .inner-header nav ul li a:focus {
        color: #7D4717
    }

    header>div {
        padding: 20px 0
    }

    header>div>:first-child {
        margin: auto 0;
    }

    header>div>:nth-last-child(2)>div>a>img {
        filter: brightness(0) invert(1);
        cursor: pointer;
    }

    .inner-header>div>:nth-last-child(2)>div>a>img {
        filter: invert(0);
    }

    .inner-header>div>:nth-last-child(2)>a>div>img {
        filter: invert(1);
    }

    .inner-header>div>:nth-last-child(2)>a>p {
        color: #000;
    }

    header>div>:nth-last-child(2)>div {
        position: relative;
    }

    header>div>:nth-last-child(2)>div>img {
        display: none;
        position: absolute;
        top: 120%;
        left: 50%;
        transform: translateX(-50%);
    }

    header>div>:nth-last-child(2) {
        display: flex;
        width: 250px;
    }

    header>div>:nth-last-child(2)>a {
        width: 150px;
    }

    header>div>:nth-last-child(2)>a div {
        margin: auto;
    }

    header>div>:nth-last-child(2) p {
        font-size: 1.2rem;
    }

    header>div>:nth-child(4)>div,
    header>div>:nth-child(4)>a {
        margin: auto 0;
    }

    .isHome {
        display: none;
    }

    nav {
        position: static;
        background: none;
        width: 600px;
        height: auto;
        padding: 0;
    }

    nav>ul li a {
        color: white;
    }

    nav>:first-child img {
        margin: auto 0 0 auto;
    }

    nav>ul {
        margin-top: 0px;
        display: flex;
        justify-content: space-between;
    }

    nav>ul li {
        text-align: center;
        margin: 0;
    }

    nav>ul li a {
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
    }

    nav>ul li a:focus {
        color: #7D4717;
        background: none;
    }

    .page-layout>:first-child {
        height: 292px;
        margin-top: 88px;
    }

    .page-layout>:first-child h1 {
        font-size: 2.5rem;
    }

    .page-layout>:last-child {
        padding: 100px 0;
    }

    .inquire-form label,
    .inquire-form legend {
        width: 150px;
        text-align: left;
    }

    .inquire-form input,
    .inquire-form select {
        width: 100%;
        padding: 15px;
    }

    .inquire-form>:nth-child(3)>div {
        width: 100%
    }

    .inquire-form fieldset>div>:first-child {
        width: 120px;
    }

    .inquire-form fieldset>div>:first-child legend {
        width: 120px;
    }

    .inquire-form fieldset>div {
    height: 53px;
}

    .inquire-form fieldset>div>:last-child {
        width: 100%;
    }

    .inquire-form>:nth-child(3)>div>button {
        padding: 15px 30px;
    }

    .inquire-form>:nth-last-child(2) {
        gap: 10;
    }

    footer ul {
        padding: 30px 0;
    }

    footer>:first-child {
        justify-content: left;
        gap: 20;
        padding-top: 50px;
    }

    footer>ul {
        justify-content: left;
    }

    footer ul li {
        width: auto;
        margin: 0;
    }

    footer>:nth-child(3) ul:first-of-type {
        justify-content: left;
        gap: 15;
    }

    footer>:nth-child(3) ul:first-of-type li:first-of-type,
    footer>:nth-child(3) ul:first-of-type li:nth-of-type(2) {
        width: auto;
    }

    footer>:nth-child(3) ul:last-of-type {
        padding: 20px 0 110px;
    }

    footer>:nth-child(3) ul:last-of-type li br {
        display: none;
    }

    footer>:nth-child(3) ul:last-of-type li span {
        font-weight: bold;
    }

    footer>:nth-child(3) ul:last-of-type li img {
        margin: auto;
        margin-top: 30px;
    }

    footer> :nth-child(2) {
        width: 100%;
        height: 1px;
        background: #C6B69D;
    }

    footer>:nth-child(3) ul:last-of-type li img {
        margin: 0 auto;
        margin-top: 0;
    }

    .footer-fixed>:first-child {
        padding: 30px 0;
    }

    .footer-fixed form>:nth-child(2)>:last-child >input {
        display: none;
    }

    .footer-fixed form>:nth-child(2)>:last-child >input+label {
        display: inline-block;
        width: 18px;
        height: 18px;
        background: white;
        border: 1px solid #ccc;
        margin: auto 0;
        position: relative;
        cursor: pointer;
    }

    .footer-fixed form>:nth-child(2)>:last-child> input[type="checkbox"]:checked+label {
        background: #784315;
    }

    .footer-fixed form>:nth-child(2)>:last-child >input[type="checkbox"]:checked+label::after {
        content: "✔";
        position: absolute;
        bottom: -2px;
        left: 1px;
        color: white;
    }

    .footer-fixed> :last-child {
        background: linear-gradient(to right, #784315, #221103);
    }

    .footer-fixed> :last-child>:last-child {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 20px 0;
    }

    .footer-fixed> :last-child>:last-child form {
        color: white;
    }

    .footer-fixed> :last-child>:last-child form h3 {
        font-size: 1.5rem;
        margin: auto 0;
    }

    .footer-fixed> :last-child>:last-child form input {
        background: white;
        border-radius: 5px;
        padding: 10px;
    }

    .footer-fixed> :last-child>:last-child form>div {
        width: 1000px;
    }

    .footer-fixed> :last-child>:last-child form>div>input {
        width: 200px;
    }

    .footer-fixed> :last-child>:last-child form>div>input::placeholder {
        color: #555;
    }

    .footer-fixed> :last-child>:last-child form>div>div:first-of-type{
        width: 365px;
    }

    .footer-fixed> :last-child>:last-child form>div>div:last-of-type {
        width: 360px;
        justify-content: left;
        gap: 15;
    }

    .footer-fixed> :last-child>:last-child form>div>div p {
        margin: auto 0;
    }

    .footer-fixed> :last-child>:last-child form>div>div input {
        width: 100px;
    }

    .footer-fixed> :last-child>:last-child form button {
        border-radius: 100px;
        background: #EFE3CF;
        color: #171717;
        cursor: pointer;
        width: 100px;
    }

}